@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto+Condensed:wght@400;700&display=swap');
@import url(//db.onlinewebfonts.com/c/e13324fa79d5805610e6a3b427b63337?family=CoreSansEW01-65Bold);
@import url(//db.onlinewebfonts.com/c/cd1b765cbb0c7cb3091c5f0bc20b50ae?family=Kirvy);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

::-webkit-scrollbar {
    width: 2px;
}