.filters {
  position: absolute;
  width: 300px;
  top: 28px;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e6e7e9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
  height: 600px;
  overflow-y: scroll;
  box-shadow: 10px 10px 5px -12px rgba(0,0,0,0.75);
  z-index: 4;
}

.filters .filterHeader {
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e6e7e9;
}

.filters .filterHeader > div {
  padding-bottom: 15px;
}

.filters .filterHeader > div > span {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px; 
  color: #070F21;
}

.filters .filterHeader > span {
  color: #9c9fa6;
}

.filters .content {
  padding-top: 10px;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
}

.filters .content .projects {
  display: flex;
  flex-direction: column;
}

.filters .content .projects .projectsHeader {
  margin-top: -5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #070F21;
}

.filters .content .projects .projectList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filters .content .projects .projectList .project {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.filters .content .projects .projectList .project span {
  font-weight: 400;
  font-size: 13px;
  color: #070F21;
  opacity: 0.7;
}

.filters .content .projects .projectList .project:nth-of-type(1) div {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background-color: #ff3477;
  border-radius: 100%;
}
.filters .content .projects .projectList .project:nth-of-type(2) div {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background-color: #ff9f1a;
  border-radius: 100%;
}
.filters .content .projects .projectList .project:nth-of-type(3) div {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background-color: #6248ff;
  border-radius: 100%;
}
.filters .content .projects .projectList .project:nth-of-type(4) div {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background-color: #8f76ff;
  border-radius: 100%;
}

.filters .content .projects .showAll {
  margin-top: 10px;
  font-size: 12px;
  color: #0e8cff;
}

.filters .content .tags {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.filters .content .tags .tagsHeader {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #070F21;
  margin-bottom: 12px;
}

.filters .content .tags .tagList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filters .content .tags .tagList .tag {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filters .content .tags .tagList .tag span {
  font-weight: 400;
  font-size: 10px;
  color: #070F21;
  opacity: 0.8;
}

.filters .content .tags .tagList .tag:nth-of-type(1) span {
  background-color: #ffeede;
  border-radius: 15px;
  padding: 0 4px;
}
.filters .content .tags .tagList .tag:nth-of-type(2) span {
  background-color: #ffdefc;
  border-radius: 15px;
  padding: 0 4px;
}
.filters .content .tags .tagList .tag:nth-of-type(3) span {
  background-color: #e4f5ff;
  border-radius: 15px;
  padding: 0 4px;
}
.filters .content .tags .tagList .tag:nth-of-type(4) span {
  background-color: #dde6fe;
  border-radius: 15px;
  padding: 0 4px;
}

.filters .content .tags .showAll {
  margin-top: 10px;
  font-size: 12px;
  color: #0e8cff;
}

.filters .content .developers {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.filters .content .developers .developersHeader {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #070F21;
}

.filters .content .developers .developerList {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filters .content .developers .developerList .developer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filters .content .developers .developerList .developer > div {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
}

.filters .content .developers .developerList .developer span {
  font-weight: 400;
  font-size: 13px;
  color: #070F21;
  opacity: 0.7;
}

.filters .content .developers .showAll {
  margin-top: 10px;
  font-size: 12px;
  color: #0e8cff;
}

.filters .actions {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
  gap: 20px;
}

.filters .actions .apply span {
  padding: 8px 15px;
  background-color: #0e8cff;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

.filters .actions .clear span {
  color: #838790;
  font-size: 14px;
}

@media screen and (width < 625px) {
  .filters {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #ffffff;
    border: 1px solid #e6e7e9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100% !important;
    overflow-y: scroll;
    z-index: 15;
  }
}
