.mainView {
  width: 297px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid #e6e7e9;
  top: 40px;
  right: -3px;
  box-shadow: 10px 10px 5px -12px rgba(0,0,0,0.75);
  z-index: 4;
}

.mainView .viewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 13px;
  margin-bottom: 10px;
}

.mainView .viewHeader .viewTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainView .viewHeader .viewTitle .archiveHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  color: #ffffff;
  background-color: #6248ff;
}

.mainView .viewHeader .viewTitle .archiveHolder > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.mainView .viewHeader .viewTitle .archiveHolder .archiveIcon {
  margin-top: 3px;
}

.mainView .viewHeader .viewTitle .archiveHolder2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  color: #000000;
  background-color: #e6e7e9;
}

.mainView .viewHeader .viewTitle .archiveHolder2 > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #070F21;
}

.mainView .viewHeader .viewTitle .archiveHolder2 .archiveIcon {
  margin-top: 3px;
  opacity: 0.5;
}

.mainView .viewHeader .viewTitle .snoozeHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  color: #000000;
  background-color: #e6e7e9;
}

.mainView .viewHeader .viewTitle .snoozeHolder > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #070F21;
}

.mainView .viewHeader .viewTitle .snoozeHolder .snoozeIcon {
  margin-top: 3px;
  opacity: 0.5;
}

.mainView .viewHeader .viewTitle .snoozeHolder2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  color: #ffffff;
  background-color: #6248ff;
}

.mainView .viewHeader .viewTitle .snoozeHolder2 > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.mainView .viewHeader .viewTitle .snoozeHolder2 .snoozeIcon {
  margin-top: 3px;
}

.mainView .viewHeader .viewTitle > span {
  color: black;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.mainView .viewHeader > span {
  cursor: pointer;
  color: #838790;
}

.mainView .separator {
  width: 100%;
  height: 1px;
  background-color: #e6e7e9;
}

.mainView .viewContent .search {
  position: relative;
  width: 100%;
}

.mainView .viewContent .search > input {
  padding-left: 40px;
  height: 40px;
  width: 100%;
  border: none;
}

.mainView .viewContent .search > input:focus-visible {
  outline: none;
}

.mainView .viewContent .search .searchTool {
  position: absolute;
  top: 11px;
  left: 23px;
}

.mainView .viewContent .stageMembersContainer {
  cursor: pointer;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: #eff2f5;
}

.mainView .viewContent .stageMembersContainer .stageMember {
  width: calc(100% - 20px);
  height: 150px;
  padding: 10px 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainView .viewContent .stageMembersContainer .stageMember .memberType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainView
  .viewContent
  .stageMembersContainer
  .stageMember
  .memberType
  .memberTypeNameContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.mainView
  .viewContent
  .stageMembersContainer
  .stageMember
  .memberType
  .memberTypeNameContainer span {
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: #070F21;
    opacity: 0.6;
}

.mainView
  .viewContent
  .stageMembersContainer
  .stageMember
  .memberType
  .memberTypeNameContainer
  .memberTypeNameStatus {
    width: 5px;
    height: 5px;
    background-color: #ff3477;
    border-radius: 50%;
    margin-top: 3px;
}

.mainView .viewContent .stageMembersContainer .stageMember .memberTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #070F21;
  opacity: 0.8;
}

.mainView .viewContent .stageMembersContainer .stageMember .labels {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.mainView
  .viewContent
  .stageMembersContainer
  .stageMember
  .labels
  span:nth-of-type(1) {
  border-radius: 10px;
  background-color: #FFC690;
  font-size: 12px;
  padding: 0px 3px;
  min-width: 40px;
  min-height: 6px;
}

.mainView
  .viewContent
  .stageMembersContainer
  .stageMember
  .labels
  span:nth-of-type(2) {
  border-radius: 10px;
  background-color: #FFA5F7;
  font-size: 12px;
  padding: 0px 3px;
  min-width: 40px;
  min-height: 6px;
}

.mainView
  .viewContent
  .stageMembersContainer
  .stageMember
  .leftAlignmentContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #070F21;
    opacity: 0.8;
    margin-bottom: 5px;
}

.mainView .viewContent .stageMembersContainer .stageMember .stageFooter {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainView .viewContent .stageMembersContainer .stageMember .stageFooter div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  gap: 10px;
  width: 102px;
  height: 17px;
  background: rgba(7, 15, 33, 0.08);
  border-radius: 4px;
}

.mainView .viewContent .stageMembersContainer .stageMember .stageFooter div:nth-of-type(1) span {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #070F21;
  opacity: 0.5;
}

.mainView
  .viewContent
  .stageMembersContainer
  .stageMember
  .stageFooter
  .imageContainer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.mainView .viewContent .stageMembersContainer .stageMember .archiveMessage {
    position: absolute;
    background-color: #E9E5FF;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    top: 77%;
    width: 100%;
    left: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px;
}

.mainView .viewContent .stageMembersContainer .stageMember .archiveMessage .imageContainer {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    overflow: hidden;
}

.mainView .viewContent .stageMembersContainer .stageMember .archiveMessage > span {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgba(7, 15, 33, 0.6);
}

.mainView .viewContent .stageMembersContainer .stageMember .archiveMessage > span b {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #070F21;
}

.mainView .viewContent .stageMembersContainer .stageMember .snoozeMessage {
  position: absolute;
  background-color: #E9E5FF;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  top: 77%;
  width: 100%;
  left: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px;
}

.mainView .viewContent .stageMembersContainer .stageMember .snoozeMessage .imageContainer {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    overflow: hidden;
}

.mainView .viewContent .stageMembersContainer .stageMember .snoozeMessage > span {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgba(7, 15, 33, 0.6);
}

.mainView .viewContent .stageMembersContainer .stageMember .snoozeMessage > span b {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #070F21;
}

@media screen and (width < 770px) {
  .mainView {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid #e6e7e9;
    z-index: 15;
  }

  .mainView .viewContent .stageMembersContainer {
    cursor: pointer;
    max-height: 100%;
    overflow-y: scroll;
    background-color: #eff2f5;
  }
}

