.mainHeaderContainer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mainHeaderContainer .mainHeader {
  margin: 14.5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.mainHeaderContainer .mainHeader .colleagues {
  background-color: #F0F1F2;
  height: 50px;
  border-radius: 5px;
  padding-left: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.mainHeaderContainer .mainHeader .colleagues .imageContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
}

.mainHeaderContainer .mainHeader .colleagues .batchContainer {
  padding: 4px 7px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.mainHeaderContainer .mainHeader .colleagues .batchContainer2 {
  padding: 4px 7px;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B0A1DF;
}

.mainHeaderContainer .mainHeader .colleagues .separator {
  width: 1px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.2);
}

.mainHeaderContainer .mainHeader .colleagues .downArrowButton {
  background-color: white;
  position: relative;
  padding: 23px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.mainHeaderContainer .mainHeader .colleagues .downArrowButton div {
  position: absolute;
  top: 31%;
  left: 30%;
}

.mainHeaderContainer .mainHeader .search {
  flex-grow: 72;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mainHeaderContainer .mainHeader .search .questionIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 15px;
  border-radius: 5px;
}

.mainHeaderContainer .mainHeader .search .plusContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0E8CFF;
  color: white;
  padding: 0px 20px;
  border-radius: 5px;
  font-size: 35px;
}

.mainHeaderContainer .mainHeader .search .searchInput {
  flex-grow: 1;
  position: relative;
}

.mainHeaderContainer .mainHeader .search .searchInput .searchContainer {
  position: absolute;
  top: 30%;
  left: 1%;
}

.mainHeaderContainer .mainHeader .search .searchInput input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  padding-left: 30px;
}

.mainHeaderContainer .mainHeader .profile {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mainHeaderContainer .mainHeader .profile .loudspeakerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 15px;
  border-radius: 5px;
}

.mainHeaderContainer .mainHeader .profile .imageContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
}

@media screen and (width < 1200px) {
    .mainHeaderContainer .mainHeader .colleagues {
        display: none;
    }
}

@media screen and (width < 750px) {
    .mainHeaderContainer .mainHeader .profile {
        display: none;
    }
}
