.navbar {
  width: 270px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid #ebeced;
  position: sticky;
}

.navbar .header {
  border-bottom: 1px solid #ebeced;
  margin-bottom: 15px;
}

.navbar .header .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: 26.5px 25px;
  width: 100%;
}

.navbar .header .content div:nth-of-type(3) {
  margin-top: 3px;
}

.navbar .header .content div:nth-of-type(4) {
  margin-top: 3px;
}

.navbar .header .content .status {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #27e1bf;
  margin-top: 0px;
}

.navbar .header .content .companyName p {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.navbar .header .content .doubleLeft {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}

.navbar .items {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebeced;
}

.navbar .items .item {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 25px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  opacity: 0.6;
}

.navbar .items .item:nth-of-type(1) {
  margin-top: 15px;
}

.navbar .items .item:nth-of-type(2) {
  background-color: #F6F6FF;
  opacity: 1;
  width: 90%;
  padding-left: 13px;
  margin-left: 12px;
  border-radius: 8px;
}

.navbar .items .item:nth-of-type(8) {
  width: 85%;
  position: relative;
}

.navbar .items .item:nth-of-type(8) .notify {
  position: absolute;
  width: 2px;
  height: 2px;
  padding: 2px;
  border-radius: 100%;
  background-color: red;
  right: 0;
}


.navbar .navbarFooter {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.navbar .navbarFooter .navbarFooterItem {
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  opacity: 0.6;
}

.navbar2 {
  width: 80px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid #ebeced;
  position: sticky;
}

.navbar2 .header {
  border-bottom: 1px solid #ebeced;
  margin-bottom: 15px;
}

.navbar2 .header .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-left: 25px;
  margin-bottom: 33px;
  padding-top: 4px;
  width: 100%;
}

.navbar2 .header .content .status {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #27e1bf;
  margin-top: 29px;
}

.navbar2 .header .content .companyName {
  display: none;
}

.navbar2 .header .content div:nth-of-type(3) {
  display: none;
}
.navbar2 .header .content div:nth-of-type(4) {
  display: none;
}

.navbar2 .items {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.navbar2 .items .item:nth-of-type(1) {
  opacity: 1;
}

.navbar2 .items .item {
  padding: 14px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  opacity: 0.6;
}

.navbar2 .items .item:nth-of-type(1) {
  margin-top: 15px;
}

.navbar2 .items .item p {
  display: none;
}

.navbar2 .navbarFooter {
  display: none
}

@media screen and (width < 1000px) {
  .navbar {
    width: 80px;
  }
  .navbar .header {
    height: 81px;
  }
  .navbar .header .content .status {
    margin-top:6px;
  }
  .navbar .header .content .companyName {
    display: none;
  }
  .navbar .header .content div:nth-of-type(3) {
    display: none;
  }
  .navbar .header .content div:nth-of-type(4) {
    display: none;
  }
  .navbar .items .item p {
    display: none;
  }
  .navbar .items .item:nth-of-type(2) {
    background-color: white;
  }
  .navbar .items .item:nth-of-type(8) .notify {
    display: none;
  }
  .navbar .navbarFooter .navbarFooterItem p {
    display: none;
  }
}
