.mainView {
    z-index: 12;
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: calc(50% - 200px);
    top: calc(50% - 100px)
}

.mainView .viewHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.mainView .viewHeader .viewTitle {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.mainView .viewHeader .viewTitle > span {
    font-weight: bold;
}

.mainView .viewHeader > span {
    cursor: pointer;
    color: #838790;
}

.mainView .separator {
    width: 100%;
    height: 1px;
    background-color: #E6E7E9;
}

.mainView .viewContent {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.mainView .viewContent .viewName > span {
    font-size: 14px;
}

.mainView .footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 20px;
}

.mainView .footer .secondSeparator {
    width: 100%;
    height: 1px;
    background-color: #E6E7E9;
}

.mainView .footer .actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}

.mainView .footer .actions .delete {
    cursor: pointer;
    padding: 11px 15px;
    background-color: #E74926;
    border-radius: 5px;
    color: white;
}

.mainView .footer .actions .cancel {
    cursor: pointer;
    padding: 11px 15px;
    background-color: #F5F5F6;
    border-radius: 5px;
}