.actions {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid #e6e7e9;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px -12px rgba(0,0,0,0.75);
  border-radius: 5px;
  top: 23px;
  width: 273px;
  right: 12px;
  gap: 10px;
  z-index: 4;
}

.actions .actionHeader {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 12px;
  margin-bottom: -5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions .actionHeader span:nth-of-type(1) {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #070F21;
}

.actions .actionHeader span:nth-of-type(2) {
  color: #9c9fa6;
}

.actions .separator {
  width: 100%;
  height: 1px;
  background-color: #e6e7e9;
}

.actions .actionList {
  display: flex;
  flex-direction: column;
  color: #515764;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.actions .actionList .action {
  cursor: pointer;
  height: 36px;
}

.actions .actionList .action span {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #070F21;
  opacity: 0.7;
}
