.mainContent {
    background-color: #F9FBFE;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    gap: 10px;
    align-items: flex-start;
  }

  .mainContent .sideBatches {
    position: fixed;
    top: 500px;
    right: -5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mainContent .todoList {
    position: fixed;
    right: 0;
    top: 400px;
    width: 30px;
    height: 30px;
    background-color: #0E8CFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .mainContent .taskList {
    position: fixed;
    right: 0;
    top: 440px;
    width: 30px;
    height: 30px;
    background-color: #6248FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .mainContent .stage {
    background-color: #EFF2F5;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 250px;
  }
  
  .mainContent .stage .stageHeader {
    position: relative;
    margin-top: 6px;
    margin-left: 8px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
  }

  .mainContent .stage:nth-of-type(2) .stageHeader .sortIconContainer {
    position: relative;
  }

  .mainContent .stage:nth-of-type(2) .stageHeader .filterIconContainer {
    position: relative;
  }

  .mainContent .stage:nth-of-type(2) .stageHeader .moreIconContainer {
    margin-left: 53px;
  }
  
  .mainContent .stage .stageHeader .stageName {
    margin-top: 5px;
    font-size: 16px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    font-family: 'Roboto Condensed' !important;
  }
  
  .mainContent .stage .stageHeader .stageItemNumber {
    font-size: 12px;
    margin-top: 7px;
    margin-left: 5px;
    color: gray
  }
  
  .mainContent .stage .stageHeader .filterIconContainer {
    cursor: pointer;
    margin-top: 1px;
    margin-left: 10px;
  }
  
  .mainContent .stage .stageHeader .sortIconContainer {
    cursor: pointer;
    margin-top: 1px;
    margin-left: 3px;
  }
  
  .mainContent .stage .stageHeader .moreIconContainer {
    cursor: pointer;
    flex-grow: 1;
    margin-top: 1px;
    text-align: right;
    margin-right: 15px;
  }
  
  .mainContent .stage .stageMembersContainer {
    cursor: pointer;
    max-height: 100vh;
    overflow-y: scroll;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember {
    width: calc(100% - 20px);
    height: 130px;
    padding: 10px 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .memberType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .memberType .memberTypeNameContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .mainContent .stage .stageMembersContainer .stageMember .memberType .memberTypeNameContainer .memberTypeNameStatus {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top:6px;
  }
  
  .mainContent .stage:nth-of-type(1) .stageMembersContainer .stageMember:nth-of-type(1) .memberType .memberTypeNameContainer .memberTypeNameStatus {
    background-color: #FF3477;
  }

  .mainContent .stage:nth-of-type(1) .stageMembersContainer .stageMember:nth-of-type(2) .memberType .memberTypeNameContainer .memberTypeNameStatus {
    background-color: #FF9F1A;
  }
  
  .mainContent .stage:nth-of-type(2) .stageMembersContainer .stageMember .memberType .memberTypeNameContainer .memberTypeNameStatus {
    background-color: #FF3477;
  }

  .mainContent .stage:nth-of-type(2) .stageMembersContainer .stageMember:nth-of-type(1) .memberType .memberTypeNameContainer .memberTypeNameStatus {
    background-color: #6248FF;
  }

  .mainContent .stage:nth-of-type(2) .stageMembersContainer .stageMember:nth-of-type(2) .memberType .memberTypeNameContainer .memberTypeNameStatus {
    background-color: #70A0FF;
  }

  .mainContent .stage:nth-of-type(3) .stageMembersContainer .stageMember .memberType .memberTypeNameContainer .memberTypeNameStatus {
    background-color: #FF9F1A;
  }

  .mainContent .stage:nth-of-type(4) .stageMembersContainer .stageMember:nth-child(odd) .memberType .memberTypeNameContainer .memberTypeNameStatus {
    background-color: #FF9F1A;
  }

  .mainContent .stage:nth-of-type(4) .stageMembersContainer .stageMember:nth-child(even) .memberType .memberTypeNameContainer .memberTypeNameStatus {
    background-color: #FF3477;
  }

  .mainContent .stage .stageMembersContainer .stageMember .memberType .memberTypeNameContainer > span {
    font-family: 'Roboto Condensed' !important;
    color: #6A6F7A;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .memberTitle {
    font-family: 'Roboto Condensed' !important;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.3px;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .labels {
    margin-top:5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .labels span:nth-of-type(1) {
    border-radius: 10px;
    background-color: #FFEEDE;
    font-size: 12px;
    padding: 0px 3px;
    min-width: 60px;
    min-height: 10px;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .labels span:nth-of-type(2) {
    border-radius: 10px;
    background-color: #FFDEFC;
    font-size: 12px;
    padding: 0px 3px;
    min-width: 60px;
    min-height: 10px;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .leftAlignmentContainer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .leftAlignmentContainer span {
    font-size: 16px;
    color: gray;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .stageFooter {
    top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .stageFooter span {
    border-radius: 5px;
    font-size: 10px;
    background-color: #EBECED;
    padding: 3px 3px;
  }
  
  .mainContent .stage .stageMembersContainer .stageMember .stageFooter .imageContainer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  @media screen and (width < 1350px) {
    .mainContent {
      flex-wrap: wrap;
    }
  }
  
  @media screen and (width < 600px) {
    .mainContent {
      justify-content: center;
    }
  }
  